<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <!-- <h1>Hola, mi nombre es</h1> -->
                    <h1>{{pretitle}}</h1>
                </div>
                <div class='banner-title'>
                    <h2 class="text-capitalize">{{fullName}}</h2>
                    <h3 class="text-capitalize">{{jobTitle}}</h3>
                </div>
                <div class='banner-description' data-aos="fade-up">
                    <div  [innerHTML]="description" data-aos="fade-up" data-aos-duration="1000"></div>    
                </div>                                          
            </div>
        </div>
    </div>
</section>
