<section class="section more-proyects" id="skillsAndTools">
	<div class="container">
		<div class="section-box">
			<div class="">
				<h3 class="section-title">
					<span class='n-section-title'>03.</span> Skills and Tools 
				</h3>
			</div>
			<div class="mt-5">
				<div class="row p-0">
					<div class="col-12 col-md-6 col-lg-6 col-xl-6 proyect-col" data-aos="fade-up" data-aos-duration="1000">
						<div class="more-proyect-box">
							<div class="row w-100 text-left m-0 p-0">									
									<h5 class="other-proyect-title mt-4">{{skillsTitle}}</h5>
							</div>
							<div>
								<ul class="more-proyects-skills">
										<li class="skill-element" *ngFor='let skill of skills'>{{skill}}</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-6 col-xl-6 proyect-col" data-aos="fade-up" data-aos-duration="1000">
						<div class="more-proyect-box">
							<div class="row w-100 text-left m-0 p-0">									
									<h5 class="other-proyect-title mt-4">{{tools}}</h5>
							</div>
							<div>
								<ul class="more-proyects-skills">
										<ul class="skill-element">
											<span class="skill-title">{{requirementManagementTitle}}: </span>
											<span class="skill-item" *ngFor='let tool of requirementManagement'>{{tool}}</span>
										</ul>
										<ul class="skill-element"> 
											<span class="skill-title">{{modelingToolsTitle}}: </span>
											<span class="skill-item" *ngFor='let tool of modelingTool'>{{tool}}</span>
										</ul>
										<ul class="skill-element"> 
											<span class="skill-title">{{officeProductivityTitle}}: </span>
											<span class="skill-item" *ngFor='let tool of officeProductivity'>{{tool}}</span>
										</ul>
										<ul class="skill-element"> 
											<span class="skill-title">{{databaseManagementToolsTitle}}: </span>
											<span class="skill-item" *ngFor='let tool of databaseManagementTools'>{{tool}}</span>
										</ul>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
